* {
  text-decoration: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  background-color: white;
  max-width: 630px;
  max-height: 730px;
  margin: auto;
  /* flex: 1; */
  position: relative;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 32px;
  right: 36px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.modal-header {
  font-family: "Work Sans";
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin: 60px 228px 46px 228px;
}

.modal-body {
  margin: 0 105px;
  /* max-height: 433px; */
  overflow-y: auto;
  /* max-width: 420px */
  aspect-ratio: 422/436;
  border-bottom: 1px solid #b3b3b3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 12px;
}

.modal-footer {
  text-align: center;
}

.modal-footer .addPicModal {
  margin: 48px 0 32px 0;
}

.addPic {
  padding: 10px 49px;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  background-color: #1d6154;
  color: white;
  border-radius: 60px;
}

.delPicModal {
  margin-bottom: 48px;
}

.delPic {
  color: #d65353;
  font-family: "Syne";
  font-size: 12px;
}

/* .modal-body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  color: #3d3d3d;
} */

.modal-body img {
  width: 100%;
}

.modal-body figure {
  position: relative;
}

.divIconElmGlobal {
  position: absolute;
  display: flex;
  gap: 3px;
  right: 4px;
  top: 4px;
}

.divIconElm1,
.divIconElm2 {
  padding: 3px;
  border-radius: 3px;
}

.divIconElm2 {
  background-color: black;
  cursor: pointer;
}

.divIconElm1 {
  background-color: transparent;
  cursor: pointer;
}
.divIconElm1:hover {
  background-color: black;
}

.fa-solid {
  color: transparent;
}
.fa-solid:hover {
  color: white;
}

.fa-regular {
  color: white;
}
