* {
  text-decoration: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  /* visibility: hidden;
  opacity: 0; */
  transition: 0.2s;
}

/* .modal.show {
  visibility: visible;
  opacity: 1;
} */

.modal-content {
  background-color: white;
  max-width: 630px;
  max-height: 730px;
  margin: auto;

  position: relative;
  border-radius: 10px;
}

.modal-close {
  position: absolute;
  top: 32px;
  right: 36px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
}

.modal-header {
  font-family: "Work Sans";
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  margin: 60px 228px 46px 228px;
}

.modal-body {
  margin: 0 105px;
  overflow-y: auto;
  aspect-ratio: 422/436;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 12px;
}

hr {
  max-width: 422px;
}
.modal-footer {
  text-align: center;
}

.modal-footer .addPicModal {
  margin: 48px 0 32px 0;
}

.addPic {
  padding: 10px 49px;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 700;
  background-color: #1d6154;
  color: white;
  border-radius: 60px;
}
.addPic:hover {
  background-color: #0e2f28;
}

.delPicModal {
  margin-bottom: 48px;
}

.delPic {
  color: #d65353;
  font-family: "Syne";
  font-size: 12px;
}

.modal-body img {
  width: 100%;
}

.modal-body figure {
  position: relative;
}

.divIconElmGlobal {
  position: absolute;
  display: flex;
  gap: 3px;
  right: 4px;
  top: 4px;
}

.divIconElm1,
.divIconElm2 {
  padding: 3px;
  border-radius: 3px;
}

.divIconElm2 {
  background-color: black;
  cursor: pointer;
}

.divIconElm1 {
  background-color: none;
}
.divIconElm1:hover {
  background-color: black;
}

.divIconElm1 img {
  opacity: 0;
}
.divIconElm1 img:hover {
  opacity: 1;
}

.fa-regular {
  color: white;
}

.hideOnAddPicMode.hide {
  display: none;
}

.backIcon {
  position: absolute;
  top: 28px;
  left: 36px;
}

.backIcon.display {
  display: block;
}

/* #addWork {
  border: solid 2px red;
} */

.formAddWorks {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 2px red; */
  max-width: 420px;
  min-height: 420px;
  margin: auto;
}

.formAddWorks.hide {
  display: none;
}

.addPhoto.hide {
  display: none;
}
.importPicture {
  background-color: #e8f1f7;
  width: 420px;
  min-height: 169px;
  border-radius: 3px;
  margin-top: -20px;
}

.imgLoad {
  margin: 28px 182px 21px 180px;
}

.labelAddWork {
  color: #306685;
  font-size: 14px;
  padding: 10px 33px;
  display: inline-block;
  margin: 0 124px 7px 123px;
  background-color: #cbd6dc;
  border-radius: 50px;
  cursor: pointer;
}
.labelAddWork:hover {
  font-weight: bold;
}

.format {
  font-size: 10px;
  display: inline-block;
  margin: 0 163px 19px 163px;
}

.formLabel.title {
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}

.formLabel.category {
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.formInput {
  height: 50px;
  font-size: 14px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 420px;
}

.hrAddWorks {
  width: 420px;
  margin-top: 37px;
}

.confirm-Btn {
  color: white;
  font-size: 14px;
  padding: 10px 110px;
  margin: 32px 0px 55px 0px;
  background-color: #a7a7a7;
  border-radius: 60px;
  cursor: pointer;
  border: none;
  font-family: "Syne";
}
.confirm-Btn:hover {
  background-color: #1d6154;
}

.hideOnDisplayAddWorks.hide {
  display: none;
}

.addNewWorkImg {
  max-width: 129px;
  min-height: 169px;
  background-size: cover;
  margin-left: 146px;
}

.hide {
  display: none !important;
}

.showMessageNOK {
  color: red;
  font-family: "Syne";
  margin-top: -40px;
  margin-bottom: 10px;
}

.showMessageOK {
  color: #1d6154;
  font-family: "Syne";
  margin-top: -40px;
  margin-bottom: 10px;
  background-color: pink;
}
